<div class="animated fadeIn">
    <div class="row">
      <div class="col-lg-12">
        <div class="card mb-0">
          <div class="card-header">
            <strong>Change Password</strong>
          </div>
          <div class="card-body">
            <div class="row">
                <label class="col-md-2 col-form-label" for="current-pass"><strong class="float-right">Current password</strong></label>
                <div class="col-md-3">
                    <input type="password" name="currentPass" [(ngModel)]="currentPass" placeholder="Enter current password" class="form-control">
                  </div>
            </div>
            <div class="row mt-2">
                <label class="col-md-2 col-form-label" for="new-pass"><strong class="float-right">New password</strong></label>
                <div class="col-md-3">
                    <input type="password" name="newPass" [(ngModel)]="passNew" placeholder="Enter new password" class="form-control">
                  </div>
            </div>
            <div class="row mt-2">
                <label class="col-md-2 col-form-label" for="confirm-pass"><strong class="float-right">Confirm password</strong></label>
                <div class="col-md-3">
                    <input type="password" name="newPass" [(ngModel)]="confirmPass" placeholder="Repeat password" class="form-control">
                  </div>
            </div>
          </div>
          <div class="card-footer">
            <button (click)="changePass()" class="btn btn-success">
                <i class="fa fa-check"></i> Save
              </button>
          </div>
        </div>
    </div>
</div>